<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liul.trc_study_task_2">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application>
        <activity android:name=".AudioRecordActivity">
        </activity>
    </application>

</manifest>